body{
    background:#0a192f;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.chat-container{
    width:400px;
    background:#112240;
    padding:20px;
    border-radius:10px;
    color:white;
}

#chat-box{
    height:300px;
    overflow-y:auto;
    background:#020c1b;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

input{
    width:75%;
    padding:10px;
}

button{
    width:20%;
    padding:10px;
    background:#64ffda;
    border:none;
}
